body {
    padding: 0;
    margin: 0;
  }

@font-face{
  font-family: "fastiv";
  src: url("../assets/FUZZXL__.TTF");
}

#header{
  font-family: "fastiv";
  font-size: 31px;
  color: aliceblue;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  background-color: black;
  text-align:left;
}
